body{
    background: url("formbackground.jpg");
}
*{
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}
h1{
    margin-right: 25px;
}
h2{
    margin-left: 330px;
    font-size: 200%;

}
h4{
    margin-left:180px;
    font-size: 140%;
}
table{
    margin-top:150px;
}
input{
    color:black;
    font-family: "Roboto", sans-serif;
    font-size: 130%;
    /*border:0;*/
    width:250px;
    margin-right: 100px;
    height: 25px;
}
#btn{
    width:150px;
    /*margin-left: 200px;*/
display:block;
    margin:0 0 0 350px;
color:black;
}
